:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, var(--vp-c-purple-1) 30%, var(--vp-c-brand-2));
  --vp-home-hero-tagline: var(--vp-c-text-2);
  --vp-home-hero-text: var(--vp-c-text-1);
  
  /* 背景色修改为根据提供的色调调整 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #636362 50%, #b4b4b4 50%);
  
  /* 适当的模糊效果，保持一致的视觉风格 */
  --vp-home-hero-image-filter: blur(44px);

  // 设置字体
  $font-family: 'LXGW Wenkai', sans-serif;
  $font-family-mono: 'LXGW WenKai Mono', monospace;

  // 设置全局字体
  body, h1, h2, h3, h4, h5, h6, p, span, div, a, ul, ol, li, table, th, td, pre, code, kbd, samp {
    font-family: $font-family;
  }

  // 设置标题的字体和粗细
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  // 设置代码的字体
  code, pre, kbd, samp {
    font-family: $font-family-mono;
  }  
}
